/* Login page css strat */
.main-wrapper {
  background-color: #f7f7f7;
  height: 100vh;
}

.account-box {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 45px;

}

.account-wrapper {
  background-color: white;
  padding: 25px;


}

.form-control {
  width: 450px;
  padding: 12px;
}

.account-subtitle {
  font-weight: 600;
  color: #888888;
  text-align: center;
}

.form-group {
  font-weight: 600;
}

.loginbtn {
  background: rgb(255, 155, 68);
  background: linear-gradient(90deg, rgba(255, 155, 68, 1) 0%, rgba(189, 31, 31, 1) 100%);
  color: white;
  border: none;
  border-radius: 10px;
  width: ;
}

.account-footer {
  font-weight: 600;
  text-decoration: none;
}


/*------------Sidebar css ----------- */

.submenu{
  line-height: 20px;
  list-style: none;
}

.sidebar {
  color: white;
  background-color: rgb(52, 68, 76);
  height: 100%;
}
.sidebar-fix {
  position: fixed;
  left: 0;
  height: 100%;
  z-index: 1000; 

}
.sublist{
  text-decoration: none;
  color: white;
}
.sublist li{
 list-style: none;
}
.submenu {
  /* max-height: 0;
  overflow: hidden; */
  transition: max-height 2s linear; /
}

.submenu.open {
  max-height: 200px; 
}




 /* toggle sidebar css */
 .sidebar-main {
  position: fixed;
  top: 0;
  /* left: 200px; */
  /* width: 900px; */
  height: 100%;
  /* background-color: #f1f1f1; */
  transform: translateX(-100px);
  transition: transform 0.3s ease-in-out;
}

.sidebar-main.open {
  transform: translatex(0px);
}

/* --------- Header ------- */

.main-container {
  background: rgb(255, 155, 68);
  background: linear-gradient(to right, #ff9b44 0%, #fc6075 100%);;
  /* margin-bottom: -8px; */
  height: 60px;
  color: white;
  width: 100.80%;
}
.gap5{
  gap: 105px;
}
.serchbar{
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 2.5px );
  -webkit-backdrop-filter: blur( 2.5px );
  border-radius: 50px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 8px;
  width: 220px;
  color: white;
}
.select-container {
  display: inline-block;
}

.select-language {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  color: white
  ;
}
.notification-dot {
  position: absolute;
  top: -5px;
  right: -12px;
  width: 20px;
  height: 20px;
  background-color: rgb(138, 10, 242);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile{
  border: 1px solid ;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.ml3{
  padding-right: 10px;
}

/* -------------Router Admindashboard page start ---------- */

.main-bg{
  background-color: #f7f7f7;
  width: 82.50%;
  margin-left: 260px;
  /* height: 100vh; */
}
.dash-widget-icon{
  background-color: rgba(255, 155, 68, 0.2);
  color: #ff9b44;
  font-size: 30px;
 height: 60px;
 width: 60px;
 display: flex;
 justify-content: center;
 align-items: center;
border-radius: 50%;
}

/* Statistics */
/* Today Leave css */
.progress{
  height: 5px;
  margin-top: 5px;
}
.stats-info{
  border: 1px solid rgb(225, 222, 222);
  border-radius: 5px;
  padding: 15px;
}

/* Task Statistics */
.progress1{
  height: 15px;
}
.stats-box{
  background-color: #f9f9f9;
  border: 1px solid #e3e3e3;;
}
.avatar{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.leave-info-box{
  border: 1px solid rgb(198, 198, 198);
  padding: 15px;
  margin-top: 15px;
}
.text-dark{
  border: 1px solid rgb(180, 177, 177);
  /* width: fit-content; */
  padding: 5px;
  text-decoration: none;
}

/* Invoices Payments */

.Client{
  font-size: 12px;
}
.Payments-w{
  width: max-content;
  overflow-x: scroll;
}
.invoices-w{
 
  overflow-x: scroll;
}

/* ---------------- Sticky Header----------------- */
.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000; 
}

/* ------------Department css--------------------- */
.text-end{
  line-height: 40px;
}

/* ------------ setting css----------------------- */
.setting{
  height: 50px;
  width: 50px;
  background-color: #ff9b44;;
  z-index: 1000;
  position: fixed;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
  right: 40px;
  bottom: 30px;
}

::placeholder{
  color: white;
  opacity: 0.8;
}
/* header commant notification */
.commnofty{
  right: -50px !important;
}
.message-author{
  font-size: 14px;
}
.message-content{
  font-size: 13px;
}
.message-time{
  font-size: 11px;
  color: #f83f37;;
}
/* header notification */
.bell{
  cursor: pointer;
}

.notifyim{
 background-color: white;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  height: 370px; 
  width: 350px;
  position: absolute;
  top: 44px;
  right: -20px;
  border: 1px solid rgb(225, 220, 220);
  border-radius: 3px;
  padding: 10px;
  color: black;
  overflow: auto;
}

.notification-title{
  color: black;
}
.clear-noti{
  color: #f83f37;
  text-decoration: none;
}

.hrline{
  color: rgb(146, 140, 140);
}
.avatarnofty{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.notification-time{
  font-size: 13px;

  
}

/* --------------- Profile-menu----------------- */
  .profile-menu{
    
    display: flex;
    flex-direction: column;
   
  }
  .main-pro-menu{
    background-color: white;
    /* box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 3px;
    color: black;
    position: absolute;
    top: 57px;
    width: 140px;
 
  }
  .profile-menu span:hover{
    background-color: rgb(225, 220, 220);
  }
  .profile-menu span{
    padding-left: 15px;
 line-height: 30px;
  }
  

/* three dots in deparment  */
.threedot{
  cursor: pointer;
 

}
.dropdown-dot{
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  background-color: #ffffff;;
  height: 80px;
  width: 130px;
  position: absolute;
  top: 40px;
  right: 5px;
  display: flex; 
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: start; */
  line-height: 24px;
  border: 1px solid rgb(234, 225, 225) ;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1;
  padding: 2px;
}

.dropdown-dot a{
text-align: start;
font-weight: 500;
font-size: 15px;
padding-left: 10px;
}


/* sidebar dropdwon  */

.gap-arrow{
  gap: 90px;
  cursor: pointer;

}
.gap-arrow1{
  gap: 115px;
  cursor: pointer;
 
}
#collapsibleContent{
 line-height: 30px;
 /* transition: all 1.2s linear; */
}

/* Define initial state of collapsible content */
#collapsibleContent,
#collapsibleContent2 {
  max-height: 80px;
  /* overflow: hidden; */
  /* transition: max-height 0.6s linear; */
}

/* Define styles for active (expanded) state */
#collapsibleContent.in,
#collapsibleContent2.in {
  max-height: 1000px; /* Adjust as needed */
}

.collapseopne{
  transition: all 0.7s ease-in-out;
}

/* notification bell */

  









